# Entorno virtual
venv/

# Archivos de Python temporales
__pycache__/
*.py[cod]

# Streamlit
*.log
*.pyc

# Configuraciones de IDE (VSCode)
.vscode/

# Archivos de datos locales (si los tienes)
data/
*.csv
*.db